@charset"UTF-8";
/* enlève toutes les marges et les espaces fait par le navigateur qui sont des valeurs par défaut*/
body{margin: 0; padding: 0;}
#main {
    display: flex;
    flex-wrap: wrap;
}
header{
    width: 100%;
    height: 100%;
    border: 5px;
    background-color: aqua;
    display:flex;
}
aside {
    display:flex;
    align-items: right;
    background-color: yellow;
    width: 25%  ;
    height: 465px ;
}


section {

    display: flex;
    width: 50%;
    height:465px;
    background-color: chartreuse;
}
footer {
    background-color: darkgoldenrod;
    width:100%;
    display: inline-block;
    text-align: center;
}
#gauche {
    order: 1;
}
#droite{
    order: 3;
}
#centre {
    order:2 ;
}
#bas {
    order: 4;
}
